<md-dialog aria-label="tła">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>tła</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/material_design/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      ramki z tłami do wyboru
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <md-button ng-click="cancel()">
       anuluj
      </md-button>
      <md-button ng-click="answer('useful')">
        zapisz
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>