<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="myApp">
<meta charset="utf-8" />
<title>Logowanie</title>
<style>
@import url('//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css');

body{
	background-image: url('assets/bground/bground.PNG');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:-10px;
}

.login-form {
	width:400px;
	padding-top:15%;
	margin:0 auto;
		md-card {
			padding: 0!important;
				md-card-title {
					background-color: blue;
				}
		}
}

</style>
   <body ng-controller="AuthController as authCtrl">

<div class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Logowanie</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form" ng-submit="authCtrl.postForm()">
            <md-input-container class="md-block">
              <label>Nazwa użytkownika</label>
              <input type="text" name="username" ng-model="authCtrl.inputData.username" placeholder="" required=""/>
              <div ng-messages="Form.username.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Wpisz nazwę użytkownika.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Hasło</label>
              <input type="password" name="password" ng-model="authCtrl.inputData.password" placeholder="" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Wpisz swoje hasło.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid"  type="submit" ng-submit="authCtrl.postForm()" class="md-raised md-primary">&nbsp Zaloguj się &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
</div>
    <!-- Angular Material Dependencies-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
<script type="text/javascript" src="system/js/angular-md5.js"></script>
<script src="application/controllers/auth.js"></script>